.tableColor {
    background-color: rgb(255, 255, 161);
    border-color: #7C0A02;
    color: #7C0A02;
    border-color: #7C0A02;
}
.thColor {
    background-color: lightcoral;
    color: #7C0A02;
    border-color: #7C0A02; 
}
#bodyColor {
    background-color: rgb(210, 232, 251);
}
